/*
 * Color palette (almost): http://www.colourlovers.com/palette/1718713/Monokai
 * gray: #101010
 * magenta: #F92672
 * blue: #66D9EF
 * green: #A6E22E
 * orange: #FD971F
 */
body
{
    background-color:#101010;
    color:#FD971F;
    font-family:monospace;
    font-size:13px;
    text-align:left;
    white-space:pre;
}

h1,h2 {
    color:#A6E22E;
    text-decoration:bold;
}

h2 {
    font-size:17px;
}

h1 {
    font-size:19px;
}

a {
    color:#66D9EF;
    text-decoration:none
}

a:visited
{
    color:#A6E22E
}

a:hover
{
    background-color:#66D9EF;
    color:#101010;
    text-decoration:underline
}
